<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ECF" value="server=EIIATLDB5;database=Educo;uid=sa;pwd=sQl2o08;"/>
    <add key="ECF" value="server=EIIATLDB5;database=EducoT;uid=sa;pwd=sQl2o08"/>
    <add key="dynamicimagepath" value="D:\verticalImage\"/>
  </appSettings>
  <connectionStrings>
    <add name="educosoft" connectionString="Data Source=EIIATLDB5;Initial Catalog=educo;User ID=sa;Password=sql2o08"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add verb="*" path="get_image.aspx" type="VerticalTextExample.ImageViewer"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
	
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>